<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97d3ed">  <td>23/12/13 14:15:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_test_class.executor()[pri:0, instance:Test_package.Patch_test_class@481ba2cf]">executor</td> 
  <td>main@1292472219</td>   <td></td> </tr>
<tr bgcolor="a4d57e">  <td>23/12/13 14:15:31</td>   <td>-15365</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_test_class.executor()[pri:0, instance:Test_package.Put_test_class@1e8b7643]">executor</td> 
  <td>main@1292472219</td>   <td></td> </tr>
<tr bgcolor="7b6699">  <td>23/12/13 14:15:45</td>   <td>-799</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="get_test_class.executor()[pri:0, instance:Test_package.get_test_class@36060e]">executor</td> 
  <td>main@1292472219</td>   <td></td> </tr>
<tr bgcolor="b7f6b7">  <td>23/12/13 14:15:43</td>   <td>-2716</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="post_TC1.executor()[pri:0, instance:Test_package.post_TC1@5b367418]">executor</td> 
  <td>main@1292472219</td>   <td></td> </tr>
</table>
